@tailwind base;
@tailwind components;
@tailwind utilities;

/*html {*/
/*    scroll-behavior: smooth;*/
/*}*/

body {
    background-color: #0c0a09;
}

.container-box {
    position: relative;
}

.container-box .arrow {
    position: absolute;
    top: 50%;
    margin-top: -5px;
}

.container-box .arrow.arrow-left {
    left: 0;
    z-index: 10;
}

.container-box .arrow.arrow-right {
    right: 0;
    z-index: 20;
}

strong {
    font-weight: 600;
    color: #d6d3d1;
}